@charset "UTF-8";

.l-magazine a.container {margin-bottom: 6rem;}
.l-magazine a.container img {
  width: 100vw;
  margin-bottom: -4rem;
  height: 60vw;
  height: auto;
  margin-left: calc(-1 * var(--padding));
  aspect-ratio: 16/9;
}
.l-magazine a.container:nth-of-type(2) img {width: 80vw;}
.l-magazine a.container:nth-of-type(3) img {width: 90vw;}
.l-magazine a.container h5 {margin-top: 1rem;opacity: .5;}








@keyframes visualColor {
    0% {filter: saturate(0);}
    100% {filter: saturate(1);}
}
@keyframes bgColor {
    0% {background-color: black;}
    50% {background-color: white;}
    100% {background-color: black;}
}

@keyframes textColor {
    0% {background-color: black;}
    50% {background-color: black;}
    100% {background-color: white;}
}

.first-section {padding-top: 7rem;}

@media screen and (max-width: 480px) {
    .first-section {padding-top: 15rem;}

    
}