
#mag * {
  color: var(--backgroundColor);
  color: #181818;
}
.article .body p {
  
  letter-spacing: .01em;
  line-height: 2.2;
  font-size: 1.425rem;
  text-align: justify;

  /* 縦書き */
  /*
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: left;
  font-feature-settings: 'pkna';
  height: 50vh;
  line-height: 2;
  letter-spacing: .01em;
  padding-bottom: 7.5rem;
  */
}