
.svelte-compare-image-container {height: 100% !important;}
.svelte-compare-image-container:focus-within {outline: none !important;}




#mag .head * {color: var(--mainColor);}
#mag .body * {color: var(--textColor);}
#mag .body h2,
#mag .body h3,
#mag .body h4 {color: var(--mainColor);}

#mag .body h4 {margin-bottom: 1rem;}

.article .body p {
  
  letter-spacing: .01em;
  line-height: 2.2;
  font-size: 1.4rem;
  text-align: justify;

}